* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ubuntu", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    overflow-y: hidden;
}

.homePage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

}

.navBar {
    height: 12vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
    /* position: fixed; */
}

#bankimage {
    width: 70vw;
    height: 100vh;
    background-image: contain;
}

.menu2 {
    display: flex;
    height: 88vh;
}

#form {
    height: 100vh;
    width: 100vw;
    /* background-color: #808080; */
    background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0.6, 0.6, 0.6, 0.6) 60%, rgba(0, 0, 0, 0.8) 100%);
    padding-left: 10%;
    padding-top: 1%;
}

#submit {
    background-color: #930002;
    border: 1px solid transparent;
    color: white;
    margin-top: 6%;
    margin-left: 33%;
    /* padding-bottom: 2rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 12vw;
    margin-bottom: 10%;
    font-size: 1.5rem;

}

#topt {
    font-size: 3rem;
    font-weight: 700;
}

#enter,
#fname,
#lname,
#uname,
#Phn,
#DOB {
    height: 5vh;
    width: 25vw;
    border: 2px solid black;
    color: black;
    font-size: 1rem;
    margin-top: 3%;
    border-radius: 0.5rem;
    padding: 1rem;
}



#text {
    font-size: 1.2rem;
    margin-top: 5%;
}

#submit:hover {
    background-color: #790204;
    color: beige;
}

p {
    letter-spacing: 0.02rem;
    word-spacing: 0.3rem;
    font-size: 1.5rem;
    color: aliceblue;
    font-weight: 400;

}

span {
    color: #930002;
}

h3 {
    font-size: 3rem;

}


button {
    font-size: 1.5rem;
    color: #4C4C4C;
    transition: all 0.5s;
    padding: 15px 15px;
    border: none;
    background-color: transparent;
    border-radius: 1.5rem;

}

button:hover {
    background-color: #930002;
    cursor: pointer;
    color: white;
}

#logo {
    height: 4rem;
    width: 17rem;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}